/* select a font */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --ff-roboto: "Roboto", sans-serif;
  --ff-noto-sans: "Noto Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-roboto);
}

/* global styles */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
:root {
  --clr-pink: #ff595fe4;
  --clr-sandle: #8779518d;
  --clr-green: #8ac926;
  --clr-blue: #1982c4;
  --clr-voilet: #6a4c93;
  --clr-white: #ffffffbc;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-sandle);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  background-color: var(--clr-pink);
  border-radius: 10px;
}
.first-container {
  margin: 1rem;
}
#select-movies {
  padding: 0.25rem;
  font-weight: 700;
  border-radius: 10px;
}
.second-container {
  width: 23rem;
  background-color: #90c6e86d;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: var(--radius);
}
.second-container-items {
  padding: 0.25rem;
  gap: 1.25rem;
  display: flex;
  align-items: center;
}
.third-container {
  margin: 0.5rem;
}
.screen {
  width: 22rem;
  height: 6rem;
  background-color: var(--clr-white);
  transform: perspective(1000px) rotateX(-40deg);
  box-shadow: 0px 0px 12px #000;
}
.fourth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.row {
  display: flex;
  gap: 1rem;
}
.seats {
  background-color: rgb(69, 62, 62);
  width: 1.5rem;
  height: 1.5rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  cursor: pointer;
}
.fiveth-container {
  margin: 2rem;
}
.message {
  font-weight: 700;
}
span {
  color: #5bb3e6;
}
.selected {
  background-color: green;
}
.occupied {
  background-color: rgba(255, 0, 0, 0.842);
}

